.footer {
  width: 1163px;
  height: 144px;
  background-color: #fbf9fb;
  &__container {
    padding-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 62px;
      height: 58px;
      aspect-ratio: 31/29;
    }
    a {
      color: #b3644e;
      font-family: 'Gilda Display';
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: 5px;
    }
    &--linkedin{
      display: flex;
      align-items: center;
      margin-left: 490px;
    }
    &--git{
      display: flex;
      align-items: center;
    }
  }
}
