.header {
  background-image: url("/src/imagens/lilas-5325520_640.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 318px;
  position: relative;
  @media (max-width:768px) {
    width: 100%;
    height: 123px;
    position: relative;
  }
  &__opacidade::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EDD2EB;
    content: '';
    opacity: .7;
  }
  img {
    
    width: 926px;
    height: 119px;
    position: absolute;
    bottom: 0;
    left: 0;
    @media (max-width:768px) {
      width: 220px;
      height: 33px;
      position: absolute;
    }
  }
}
