.invite {
  width: 1158px;
  height: 314px;
  display: flex;
  flex-shrink: 0;
  position: relative;
  background-color: #fbf9fb;
  @media (max-width: 768px) {
    width: 440px;
    height: 201px;
    flex-direction: column;
    background-color: transparent;
  }
  &__text {
    width: 572px;
    height: 62px;
    margin: 18px auto;
    background-color: #b3634f;
    @media (max-width: 768px) {
      width: 100%;
    }
    h1 {
      margin: 7px auto;
      text-align: center;
      color: #f5f5f5;
      font-family: "Gilda Display";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 24px;
        margin: 21px auto;
      }
    }
  }
  &__local {
    margin:auto;
    @media (max-width: 768px) {
      address {
        color: #b3634f;
        font-family: "Gilda Display";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  &__button {
    
    @media (max-width: 440px) {
      margin:auto;
      button {
        width: 197px;
        height: 34px;
        background-color: #b3634f;
        color: #f5f5f5;
        font-family: 'Gilda Display';
        font-size: 20px;
        font-weight: 400;
        border: none;
        border-radius: 20px;
      }
    }
  }
  &__canva {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    @media (max-width: 440px) {
      visibility: hidden;
    }
  }
}
